.header__logo {
  max-width: 142px;
  max-height: 33px;
  display: flex;
  justify-content: flex-start;
  vertical-align: top;
}
@media screen and (max-width: 550px) {
  .header__logo {
    margin: 0 0 0 27px;
    width: 32.1875%;
  }
}
