.popup__form {
  margin: 54px 36px 37px;
  width: 358px;
  height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .popup__form {
    margin: 75px 22px 25px 22px;
    width: 238px;
    height: 175px;
  }
}
