.cards__like {
  margin: 5px 5px 1px 0;
  padding: 0;
  background: transparent center;
  color: black;
  border: none;
}
.cards__like:hover {
  opacity: 50%;
}
.cards__like:active {
  color:black;
}
